.header-container-footer {
    background-color: rgba(209, 207, 207, 0.795);
    color: rgba(27, 5, 5, 0.685);
    padding: 40px 0px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.container-row span i {
    font-size: 1.7rem;
    margin-left: 10px;
    color: #3b71ca;
}

.container-row h1 {
    font-size: 1.2rem;
    font-weight: 500;
    text-indent: 30px;
}

.container-row ul {
    list-style: none;
}

.container-row .link-item {
    text-decoration: none;
    color: #3b71ca;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-div {
    text-align: center;
}
.footer-div input{
    border: none;
    padding: 10px ;
    width: 100%;
    outline: none;
    border-radius: 5px;
}

.footer-div ul {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
}

.btn-container {
    padding: 10px 30px;
    background-color: #3b71ca;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

