.footer-container{
    background-image: url("./landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.597);
    text-align: center;
    padding: 40px;
}
.footer-container p{
    margin-bottom: -5px;
    color: white;
}
.footer-container h2{
    color: white !important;
}

.footer-container i{
    color: white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.833);
}