* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header-h {
  width: 100%;
  background-color: black;
  height: 3.6rem;
  flex-wrap: wrap;
}

.left-h {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex-grow: 1;
}

.left-h>span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.left-h>span>i {
  font-size: 2rem;
  color:white;
  
}

.left-h>img {
  max-width: 10rem;
  height: 3.2rem;
}

.center-h {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}

.center-h>div {
  display: flex;
  position: relative;
  justify-content: flex-end;
  border: #aea7a7;
}

.center-h>div>.input {
  width: 30rem;
  height: 2.4rem;
  border-radius: 3rem;
  padding: 20px;
  font-size: 1.2rem;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.325);
  color: black;

}

.center-h>div>.search {
  position: absolute;
  width: 4rem;
  height: 100%;
  background-color: #d3d3d3;
  border: 1px solid rgba(0, 0, 0, 0.159);
  cursor: pointer;
}

.center-h>div>.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.right-h {
  display: flex;
  justify-content: space-around;
  align-items: self-start;
  flex: 1;
  gap: 1rem;
  font-size: 2rem;
}

.right-h>span>i {
  margin-left: 1rem;
  margin-right: 1rem;
  color:white;
}

.header-h img{
  border-radius: 10px;
}

@media screen and (max-width:900px) {
  .center-h>div>.input {
    width: 20rem !important;
    height: 1.7rem !important;
  }

  .right-h>span>i {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:700px) {
  .right-h>span>i {
    display: none;
  }
}
@media screen and (max-width:700px) {
  .header-h img[alt="logo"]{
    display: none;
  }
  .center-h>div>.input{
    width: 15rem !important;
  }
}