.card-service {
    padding: 10px;
}

.card-service h1 ,p{
    text-align: center;
}
.card-service-row {
    display: flex;
    padding: 10px;
    gap: 20px;
    text-align: center !important;
    justify-content: center;
}

.card-service-row .card{
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 30rem;
}
.card-service-row .card:hover{
    background-color: rgba(255, 166, 0, 0.573);
    transition: 1s;
}
.card-service-row img{
    border-radius:10px 10px 0px 0px;
    height: 20rem;
}