.Aside-main {
  border: 2px solid black;
  width: 20%;
  height: 90vh;
  overflow: scroll;
}
.main {
  height: 30rem;
  width: 100%;
  border: 2px solid black;
  width: 80%;
  height: 90vh;
  overflow: scroll;
}

a {
  color: black;
}
.top-l {
  /* background-color: red; */
  border-bottom: 1px solid black;
  flex-wrap: wrap;
  margin: 1rem;
  flex: 1;
  flex-basis: 1e-9px;
}
.top-l > ul > li {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  background-color: white;
  align-items: center;
  border: 1px solid gray;
  margin: 0.7rem;
  border-radius: 2rem;
  height: 2.9rem;
  font-weight: 600;
  color: black;
}
.top-l > ul > :hover {
  background-color: #e9e9e9;
}
.top-l > ul > li > a > :active {
  background-color: #e9e9e9;
}
.top-l > ul > li > div {
  width: 2rem;
  border-radius: 3rem;
  margin-left: 1rem;
}
.top-l > ul > li > div > img {
  width: 2rem;
  padding: 2rem 0;
}
.top-l > ul > li > i {
  font-size: 1.5rem;
}

.third-block > span {
  font-weight: 600;
  margin-left: -6rem;
}
