 
.card-feature{
    border-radius: 7px !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px, rgba(0, 0, 0, 0.733) 0px 5px 4px;
  
}
.card-feature:hover{
    transform: scaleY(1.1);
    transition: 0.5s;
}

.container-feature .card-grou-img{
    height: 250px;
}
.feature span{
    color:  rgb(134, 79, 2);

}
 
.f-title{
    font-size: 2rem !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  rgb(134, 79, 2);
}
.link-link{
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(134, 79, 2) ;
    color: white;
}
.container-feature{
    background-color: rgba(0, 0, 0, 0.22);
    padding: 50px 0px!important;

}