.bg-body-tertiary {
    background-color: white !important;
}

.navbar-brand {
    font-size: 2rem;
    color:  rgb(134, 79, 2);
    font-weight: bold !important;
}
 
.nav-item {
    padding: 10px;
}

.nav-link:hover {
    color: coral !important;
}

.card {
    border: none !important;
}

.input-type {
    border-radius: 30px;
    padding: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    width: 300px;
}
.card-title-1{
    color:  rgb(134, 79, 2);
}
.btn-type {
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 0.2rem;
    border: none;
    margin:0.5rem 0px 0px 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-title{
    font-size: 2.5rem;
}
.btn-type{
    font-size: 1.2rem;
    background-color: rgb(134, 79, 2);
    color: white;
}
.custom-img{
    border-radius:0px 70% 0px 70% !important;
    height: 450px;
}
.custom-con{
    margin-top: 30px;
}
