html{
  scroll-behavior: smooth;
}

.hamburger-menu{
  display: none;
}
.navbarColor{
  background-image: linear-gradient(to bottom, rgba(3, 104, 245), rgba(6, 107, 232, 0.7));

}

.navbarColor .links a{
  color: white;
}


 


#intro{
  background-image: url("./assets/image/bg.jpg");
  width: 100%;
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: right;
}
#intro section{
  height: 100vh;
}

#intro h1{
  background: linear-gradient(to bottom, rgba(3, 104, 245), rgba(6, 107, 232, 0.7));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about section div{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container{
  height: 70vh;
}

.content{
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}

.back{
  transform: rotateY(180deg);
}

.flipped{
  transform: rotateY(180deg);
}


.round{
  height: 12vw;
}

#moreContent{
  display: none;
}

.form-container{
  background-color: black;
  background-size: contain;
  width: 100%;
  height: max-content;
}

.overlay-contact{
  background-size: cover;
  min-width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Timeline CSS */
.timeline-pic{
  border-radius : 50%;
  height :22vh;
  width: 11vw;
  border: solid rgba(0 , 0 , 0 , 0.2) 0.3vw;
}

.timeline-pic:hover{
  transform: scale(1.05);
  transition: 0.3s;
}

hr{
  width: 0.2vw;
  height: 10vh;
  background-color:rgba(0 , 0 , 0 , 0.2);
}

.final{
  background-color: #ef7c00;
  border: solid rgb(214, 214, 214) 0.3vw;
  border-radius : 50%;
  height :22vh;
  width: 11vw;
}

.final:hover{
  background-color: #228B22;
  transform: scale(1.05);
  transition: 0.3s;
}

.pic{
  height: 30vh;
}

/* modal css */
.modal-pic{
  max-height: 330px;
    /* min-height: 330px; */
  /* width: 120vh; */
  display: block;
  margin: 0 auto;
}

.modal-container{
  max-height: 680px;
  overflow: scroll;
  width: 80%;
  border-radius: 1vw;
}
.modal-container::-webkit-scrollbar{
  display: none;
}

.schools{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    justify-content: center;
    align-items: center;
    grid-row-gap: 2vh;
    grid-column-gap: 5vw;
}

@media screen and (max-width: 768px){

  .links{
    display: none;
  }
  .hamburger-menu{
    display: block;
    width: 5vw;
    position: absolute;
    height: 5vh;
    right: 2vw;
    top: 2vh;
    color: #ef7c00;
  }

  #intro{
    padding-top: 7vh;
    background-image: linear-gradient(to bottom , rgb(235, 235, 235) , white);
    
  }

  #intro section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .corporate{
    font-size: 10vw;
    width: 100%;
    text-align: center;
  }
  .mobile-view{
    display: flex;
    width: 100%;
    height: 70vh;
  }

  .about{
    margin-top: 5vh;
    padding: 2vw;
  } 

  .about-pictures{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vw;
  } 

  .about-pictures div{
    width: 100%;
  }

  .about-pictures div img{
    width: 40%;
    height: 40vh;
  }

  .card-container{
    position: relative;
    width: 100%;
    height: 70vh;
    margin-bottom: 1vh;
  }

  .front,
  .back {
    position: absolute;
  }

  #schedule div section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #schedule div section img{
    width: 100%;
  }

  #schedule div section div{
    width: 40%;
    height: 20vh;
  }

  #schedule .content h1{
    font-size: 4vw;
    width: 100%;
  }
  #schedule .content h2{
    font-size: 3vw;
    width: 100%;
  }
  #schedule .content h3{
    font-size: 3vw;
  }
  .schools{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    column-gap: 5vw;
  }

  .form-container form a{
    font-size: 5vw;
  }

  .footer{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  } 
}

@media screen and (max-width:500px) {


  .hamburger-menu{
    display: block;
    width: 10vw;
    position: absolute;
    height: 10vh;
    right: 2vw;
    top: 0vh;
    color: #ef7c00;
  }

  .mobile-view{
    display: flex;
    width: 100%;
    height: 70vh;
  }
  #intro{
    background-image: linear-gradient(to bottom , rgb(235, 235, 235) , white);
    height: 50vh;
  }

  #intro section{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  #about blockquote{
    font-size: 5vw;
  }
  .links{
    display: none;
  }

  .about-pictures div img{
    width: 90%;
    height: 40vh;
  }


  .testimonials{
    margin-bottom: 10vh;
  }
  

  #schedule div section div{
    width: 90%;
    height: 20vh;
  }

  #schedule .content h1{
    font-size: 7vw;
    width: 100%;
  }
  #schedule .content h2{
    font-size: 4vw;
    width: 100%;
  }
  #schedule .content h3{
    font-size: 4vw;
  }

  /* modal-css */
  .modal-container p{
    font-size: 5vw;
    width: 100%;
  }
  
}
